##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

#########################
# Project Configuration #
#########################

# Environment Node is running in (including build scripts)
# NOT the same as the environment the application is running in
# Use "development" for local development with hot reloading, otherwise use "production"
# Options: development, production, test
# export NODE_ENV=development
# This is usually set by whatever tool is running (ie, yarn dev, yarn test) and does not need to be set here

#######################################
# Portal Personnel API configurations #
#######################################
export S3_BUCKET_NAME='test_bucket'
export AWS_DEFAULT_REGION='test_region'
export AWS_ACCESS_KEY_ID='thiscanbeanything'
export AWS_SECRET_ACCESS_KEY='thiscanbeanything'

################################
# Docker compose configuration #
################################
export COMPOSE_PATH_SEPARATOR=:
export COMPOSE_FILE=../ussf-portal-client/docker-compose.services.yml

##############################################
# Load Local Overrides and Check Environment #
##############################################

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.
[[ -f .envrc.local ]] && source_env .envrc.local
